<div class="row">

    <div class="col-left">
        <div class="align-center">
            <div class="text">
                <h1 class="greet_one">Hello,</h1>
                <h3 class="greet_two"><span class="M">M</span>ingalarbar</h3>
                <h5 class="greet_three"><span class="m_green">I’m </span>Moe Kyaw Soe</h5>
            </div>
            <div class="btn">
                <div class="btn_por" onclick="switchView('views/portfolio.html')"><span>Portfolio  </span></div>
            </div>
        </div>

    </div>

    <div class="col-right">
        <div class="me"></div>
    </div>

</div>