<div class="hoverall">
    <div class="row rowd">
        <div class="col-md-6">
            <div class="m-5">
                <h1 class="text-white p-3">Moe Kyaw Soe</h1>
                <a class="icon s50" href="#">
                    <i class="fab fa-html5"></i> <span class="h4"> fullstack dev</span>
                </a>
            </div>

            <div class="m-5 p-3">
                <ul class="list-unstyled">
                    <li class="p-2">
                        <a class="icon" href="#">
                            <i class="fab fa-html5"></i> <span class="p-3">  +95 9253 268 310</span>
                        </a>
                    </li>
                    <li class="p-2">
                        <a class="icon" href="#">
                            <i class="fab fa-html5"></i> <span class="p-3">  moekyawsoe109@gmail.com</span>
                        </a>
                    </li>
                    <li class="p-2">
                        <a class="icon" href="#">
                            <i class="fab fa-html5"></i> <span class="p-3">  moekyawsoe.github.io</span>
                        </a>
                    </li>
                    <li class="p-2">
                        <a class="icon" href="#">
                            <i class="fab fa-html5"></i> <span class="p-3">  Akyab, Rakhine State, Myanmar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <img src="../images/mepro.png" alt="Moe Kyaw Soe">
                <div class="social">
                    <a class="icon" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="icon" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="icon" href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="icon" href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row bob">
        <div class="col-md-12">
            <div class="car">Career Objective</div>
            <span class="v4_56">To be a Software Engineer in IT Sociaty where i can utilize my skills and knowledge related with development lifecycles and
            methodologies for developing robust softwares.</span>
        </div>
    </div>
</div>